# APIs bedienen (Lösung)

Wir machen nun die gleiche Abfrage wie vorhin, aber nutzen direkt die API.

In [2]:
import requests
import pandas as pd

In [3]:
url = "https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2023-10-01&endtime=2023-10-16&orderby=magnitude&limit=10"

# Hier holen wir die Daten
response = requests.get(url)
data = response.json()

# Und nun sortieren wir nur das heraus, was uns interessiert
earthquakes = data['features']

final_list = []
for quake in earthquakes:
    magnitude = quake['properties']['mag']
    location = quake['properties']['place']
    latitude = quake['geometry']['coordinates'][1]
    longitude = quake['geometry']['coordinates'][0]
    depth = quake['geometry']['coordinates'][2]
    
    mini_dict = {"Magnitude": magnitude, 
                 "Location": location, 
                 "Latitude": latitude, 
                 "Longitude": longitude, 
                 "Depth": depth}
    
    final_list.append(mini_dict)

In [4]:
pd.DataFrame(final_list)

,Magnitude,Location,Latitude,Longitude,Depth
0,6.9,"55 km SE of Madang, Papua New Guinea",-5.5066,146.1982,76.011
1,6.7,"56 km SE of Madang, Papua New Guinea",-5.5997,146.1315,53.498
2,6.4,"66 km E of Sarangani, Philippines",5.3416,126.0595,121.740
3,6.3,"30 km NNW of Herāt, Afghanistan",34.6094,62.1115,6.323
4,6.3,None,-52.0599,139.5902,4.790
5,6.3,None,34.5565,62.0449,9.000
6,6.3,"29 km NNE of Zindah Jān, Afghanistan",34.5743,61.9037,10.000
7,6.3,"33 km NNE of Zindah Jān, Afghanistan",34.6102,61.9242,14.000
8,6.1,"Izu Islands, Japan region",30.0440,140.0046,10.000
9,6.1,"Izu Islands, Japan region",29.9396,139.9498,10.000