**Python vs Python Module**

FRAGE AUS DER KLASSE: Sind Regular Expression denn überhaupt Python? [Beispiel Regular Expression](https://docs.python.org/3/library/re.html). Und weiter zur Dokumentation [auf Github](https://github.com/python/cpython/blob/3.10/Lib/re.py).

**For Loops:: Übungen**

Listen sind die gängigste Mittel, um einen For Loop zu bauen. Aber es dasselbe ist genauso mit Tuples oder Dictionaries möglich. Hier eine kleine Aufgabe: Drucke die Nummern, die folgende Vorrausetzungen erfüllen, mit Hilfe eines For Loops aus:

In [1]:
lst = list(range(100))

1. Teilbar durch 5

In [3]:
for number in lst:
    if number %5 == 0:
        print(number)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [4]:
zahlen = []

for zahl in lst:
    if zahl % 5 == 0:
        zahlen.append(zahl)
    else:
        continue
print (zahlen)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

2. Alle Nummern, die NICHT durch 3 teilbar sind

In [5]:
for number in lst:
    if number %3 != 0:
        print(number)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
52
53
55
56
58
59
61
62
64
65
67
68
70
71
73
74
76
77
79
80
82
83
85
86
88
89
91
92
94
95
97
98

**Dictionaries**

In [ ]:
LIST = [1,2,"drei"]
DICTIONARY = {"Animal": "Cat", "Size": 50, "Farbe": "Black"}

Vergleich Dictionary und Liste

What they have in common

- Both are mutable.
- Both are dynamic. They can grow and shrink as needed.
- Both can be nested. A list can contain another list. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice versa.

What they don't have in common

- List elements are accessed by their position in the list, via indexing.
- Dictionary elements are accessed via keys.

Kompliziert wird es, wenn Lists und Dictionaries nested sind:

In [7]:
LIST_NESTED = [1,2,"drei", [3, 4, "fünf", 5, 8, 10]]
DICTIONARY = {"Animal": "Cat", "Size": 50, "Farbe": "Black", "Namen": [{"Name": "Kitekat"}, {"Name":"Tomcat"}]}

Wie kannst Du direkt auf bestimmte Werte zugreifen in der Liste und im Dictionary

Auf den Wert "fünf" in der Liste:

In [13]:
LIST_NESTED[

[2, 'drei', [3, 4, 'fünf', 5, 8, 10]]

In [10]:
#print(LIST_NESTED[3])
unterliste = LIST_NESTED[3]
print (unterliste[2])

fünf

Auf den Wert "Kitekat" in der Liste:

In [14]:
print(DICTIONARY["Namen"][0]["Name"])

Kitekat

In [15]:
DICTIONARY

{'Animal': 'Cat',
 'Size': 50,
 'Farbe': 'Black',
 'Namen': [{'Name': 'Kitekat'}, {'Name': 'Tomcat'}]}

In [26]:
type(DICTIONARY["Namen"])

list

In [19]:
DICTIONARY["Namen"][0]

{'Name': 'Kitekat'}

In [18]:
DICTIONARY["Namen"][0]['Name']

'Kitekat'

In [23]:
dictionaries = [{'Name': 'Kitekat'}, {'Name': 'Tomcat'}]

In [24]:
type(dictionaries)

list

In [25]:
type(dictionaries[0])

dict

In [27]:
import pandas as pd

In [31]:
pd.DataFrame([{'Name': 'Kitekat', 'Nachname':'Freddie'},
             {'Name': 'Rosie', 'Nachname':'Freddie'}])

      Name Nachname
0  Kitekat  Freddie
1    Rosie  Freddie

In [ ]:
{'Name': 'Kitekat', 'Nachname':'Freddie', 'Geschlect': "XXXX", }