**Blicken wir noch mals auf die Struktur von Dictionaries**

**1. Erstelle ein Dictionary mit 4 Keys und vier Values, die allesamt unterschiedliche Datentypen enthalten**

In [ ]:
dictionary=

{"Train Number":1,
 "Comfy?":True,
 "Name":"Tschuktschuk",
 "Weight in Tons":3.47,
 "Liste": [1, 2, 3, 4]
 "Dictionary": {"DicKey1": "Hallo", "DicKey2": "Hallo Du"},
 "Liste 3": [{"DicKey1": "Hallo", "DicKey2": "Hallo Du"},
{"DicKey1": "Good Bya", "DicKey2": "Ciao Du"}]}

**2. Mache aus dem einzelnen Dictionary eine Liste mit 5 Elementen**

In [3]:
d_uebung = {"Groesse": 1.79, "Name": "Müller", "Anzahl_Laptops": 2, "Kursteilnehmer": True, "Dictionary": {"DictionaryKey1": "Value1", "DictionaryKey2": "Value2"}}
liste_uebung = [{"Kategorie": "Eintrag"}]
for key, value in d_uebung.items():
    liste_uebung.append({key, value})

TypeError: unhashable type: 'dict'

In [ ]:
{"Train Number":1,
 "Comfy?":True,
 "Name":"Tschuktschuk",
 "Weight in Tons":3.47,
 "Liste": [1, 2, 3, 4]}

In [7]:
liste_dic = [{"Train Number":1,
 "Comfy?":True,
 "Name":"Tschuktschuk",
 "Weight in Tons":3.47,
 "Liste": [1, 2, 3, 4]},
{"Train Number":1,
 "Comfy?":True,
 "Name":"Tschuktschuk",
 "Weight in Tons":3.47,
 "Liste": [1, 2, 3, 4]},
{"Train Number":1,
 "Comfy?":True,
 "Name":"Tschuktschuk",
 "Weight in Tons":3.47,
 "Liste": [1, 2, 3, 4]},
{"Train Number":1,
 "Comfy?":True,
 "Name":"Tschuktschuk",
 "Weight in Tons":3.47,
 "Liste": [1, 2, 3, 4]},
{"Train Number":1,
 "Comfy?":True,
 "Name":"Tschuktschuk",
 "Weight in Tons":3.47,
 "Liste": [1, 2, 3, 4]}]

In [8]:
liste_dic

[{'Train Number': 1,
  'Comfy?': True,
  'Name': 'Tschuktschuk',
  'Weight in Tons': 3.47,
  'Liste': [1, 2, 3, 4]},
 {'Train Number': 1,
  'Comfy?': True,
  'Name': 'Tschuktschuk',
  'Weight in Tons': 3.47,
  'Liste': [1, 2, 3, 4]},
 {'Train Number': 1,
  'Comfy?': True,
  'Name': 'Tschuktschuk',
  'Weight in Tons': 3.47,
  'Liste': [1, 2, 3, 4]},
 {'Train Number': 1,
  'Comfy?': True,
  'Name': 'Tschuktschuk',
  'Weight in Tons': 3.47,
  'Liste': [1, 2, 3, 4]},
 {'Train Number': 1,
  'Comfy?': True,
  'Name': 'Tschuktschuk',
  'Weight in Tons': 3.47,
  'Liste': [1, 2, 3, 4]}]

**3. Nutze Pandas dazu, daraus einen DataFrame zu bauen.**

In [6]:
import pandas as pd
pd.DataFrame(liste_dic)

   Train Number  Comfy?          Name  Weight in Tons         Liste
0             1    True  Tschuktschuk            3.47  [1, 2, 3, 4]
1             1    True  Tschuktschuk            3.47  [1, 2, 3, 4]
2             1    True  Tschuktschuk            3.47  [1, 2, 3, 4]
3             1    True  Tschuktschuk            3.47  [1, 2, 3, 4]
4             1    True  Tschuktschuk            3.47  [1, 2, 3, 4]

**4. Speichere das DataFrame als CSV-Datei ab**

In [9]:
file = pd.DataFrame(liste_dic)
file.to_csv('testdaten.csv')

In [10]:
ls

01 Dictionaries.ipynb          Archive/
02 Erdbeben API.ipynb*         countries_data.csv
03 ChatGPT und APIs.md*        test.html
04 Neue offene APIs.ipynb      testdaten.csv
05 Anatomie einer Website.pdf* Übung2.ipynb*
06 Intro BeautifulSoup.ipynb

In [11]:
ls = "hallo"

In [12]:
ls

'hallo'

**5. EXTRA: Speichere das File in anderen Dateiformaten ab**

In [13]:
file.to_excel('testdaten.xlsx')