# Libraries und arbeiten mit APIs

#### 0. Importiere die Library requests.

In [4]:
import requests
import pandas as pd
import datetime

**1. Wie viele Erdbeben wurden im Januar 2023 verzeichnet?**

In [5]:
r = requests.get('https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-01-01&endtime=2023-01-31')

In [9]:
r.json()

11213

#### 2. Und wie viele Erdbeben im Juli 2023?

In [10]:
r = requests.get('https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-07-01&endtime=2023-07-31')

In [11]:
r.json()

12384

#### 3. In welchem Monat des aktuellen Jahres wurden am meisten Erdbeben verzeichnet?

In [16]:
dates_start= pd.date_range('2023-01-01','2023-10-01' , freq='1M')-pd.offsets.MonthBegin(1)

In [17]:
dates_start

DatetimeIndex(['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01',
               '2023-09-01'],
              dtype='datetime64[ns]', freq=None)

In [18]:
dates_end= pd.date_range('2023-2-01','2023-11-01' , freq='1M')-pd.offsets.MonthEnd(1)

In [19]:
dates_end

DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-30'],
              dtype='datetime64[ns]', freq=None)

In [20]:
base = 'https://earthquake.usgs.gov/fdsnws/event/1/count?'
start = 'starttime='
end = '&endtime='

In [28]:
liste = []
for s, e in zip(dates_start, dates_end):
    s = str(s)[:10]
    e = str(e)[:10]
    print(base+start+s+end+e)
    r = requests.get(base+start+s+end+e)
    result = r.json()
    
    mini_dict = {"Monat": s,
                 "Result": result}
    liste.append(mini_dict)

https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-01-01&endtime=2023-01-31
https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-02-01&endtime=2023-02-28
https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-03-01&endtime=2023-03-31
https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-04-01&endtime=2023-04-30
https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-05-01&endtime=2023-05-31
https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-06-01&endtime=2023-06-30
https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-07-01&endtime=2023-07-31
https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-08-01&endtime=2023-08-31
https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-09-01&endtime=2023-09-30

**4. Suche die 5 stärksten Erdbeben im 2023. Liste auf, wie stark sie waren und wo sich die Erdbeben ereigneten. Zeige die Erdbeben in einem Mapping-Werkzeuz (Q, DataWrapper, Flourish, Google Maps, etc.)**

In [31]:
base = "https://earthquake.usgs.gov/fdsnws/event/1/query?"
zeit = "starttime=2023-01-01&endtime=2023-09-11"
stärke = "&orderby=magnitude"
limit = "&limit=5"
format_ = "&format=geojson"

In [32]:
url = base + zeit + stärke + limit + format_

'https://earthquake.usgs.gov/fdsnws/event/1/query?starttime=2023-01-01&endtime=2023-09-11&orderby=magnitude&limit=5&format=geojson'

In [51]:
url = base + zeit + stärke + limit + format_
r = requests.get(url)
r = r.json()
for element in r:
    print(element)

In [70]:
#Magnitude
earthquakes[0]['properties']['mag']

7.8

In [72]:
#Place
earthquakes[0]['properties']['place']

'Pazarcik earthquake, Kahramanmaras earthquake sequence'

In [76]:
#longitude
earthquakes[0]['geometry']['coordinates'][0]

37.0143

In [77]:
#latitude
earthquakes[0]['geometry']['coordinates'][1]

37.2256

In [78]:
url = 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&'
orderby = '&orderby=magnitude'
limit = '&limit=5'
urlzeit = '&starttime=2022-12-31T22:00:00&endtime=2023-12-31T22:00:00'
#r.json()['features']
#minmax = "&minmagnitude=6.5"

In [79]:
r = requests.get(url+orderby+limit+ urlzeit)

In [80]:
len(r.json()['features'])

5

In [81]:
earthquakes = []
for elem in r.json()['features']:
    
    t = elem['properties']['type']
    m = elem['properties']['mag']
    p = elem['properties']['place']
    tm = elem['properties']['time']
    long = elem['geometry']['coordinates'][0]
    lat = elem['geometry']['coordinates'][1]
    
    mini_dict = {'Type': t,
                 'Mag': m,
                 'Place': p,
                 'Time': tm,
                  'Long':long,
                  'Lat':lat}
    
    earthquakes.append(mini_dict)

In [82]:
pd.DataFrame(earthquakes)

,Type,Mag,Place,Time,Long,Lat
0,earthquake,7.8,"Pazarcik earthquake, Kahramanmaras earthquake ...",1675646254342,37.0143,37.2256
1,earthquake,7.7,southeast of the Loyalty Islands,1684465023172,170.7423,-23.2063
2,earthquake,7.6,"82 km WNW of Hihifo, Tonga",1683734520334,-174.4925,-15.6278
3,earthquake,7.6,"Pulau Pulau Tanimbar, Indonesia",1673286455037,130.0090,-7.0586
4,earthquake,7.5,"Elbistan earthquake, Kahramanmaras earthquake ...",1675679088811,37.1962,38.0106

In [83]:

df = pd.DataFrame(earthquakes)

# Zeitumrechnung

In [130]:
# Methode 1 (es gibt ganz grundsätzlich sehr viele Wege, den Unix umzurechnen)

from datetime import datetime
ts = int('1675646254')

# if you encounter a "year is out of range" error the timestamp
# may be in milliseconds, try `ts /= 1000` in that case
print(datetime.utcfromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S'))

2023-02-06 01:17:34

In [132]:
result_list = []
for elem in df['Time']:
    result = datetime.utcfromtimestamp(int(str(elem)[:10])).strftime('%Y-%m-%d %H:%M:%S')
    result_list.append(result)

In [133]:
df['Dates UTC'] = result_list

In [134]:
df

,Type,Mag,Place,Time,Long,Lat,Datumsangaben,Dates UTC
0,earthquake,7.8,"Pazarcik earthquake, Kahramanmaras earthquake ...",1675646254342,37.0143,37.2256,2023-02-06,2023-02-06 01:17:34
1,earthquake,7.7,southeast of the Loyalty Islands,1684465023172,170.7423,-23.2063,2023-05-19,2023-05-19 02:57:03
2,earthquake,7.6,"82 km WNW of Hihifo, Tonga",1683734520334,-174.4925,-15.6278,2023-05-10,2023-05-10 16:02:00
3,earthquake,7.6,"Pulau Pulau Tanimbar, Indonesia",1673286455037,130.0090,-7.0586,2023-01-09,2023-01-09 17:47:35
4,earthquake,7.5,"Elbistan earthquake, Kahramanmaras earthquake ...",1675679088811,37.1962,38.0106,2023-02-06,2023-02-06 10:24:48

In [135]:
#Hier eine zweite Methode aus der Klasse.
import datetime as dt

# timestamp is number of seconds since 1970-01-01 
timestamp = [1675646254.342,1684465023.172, 1683734520.334, 1673286455.037, 1675679088.811]

for ts in timestamp:
    print(dt.datetime.fromtimestamp(int(ts)).date())

2023-02-06
2023-05-19
2023-05-10
2023-01-09
2023-02-06

In [141]:
import datetime as dt

# timestamp is number of seconds since 1970-01-01 
timestamp = [1675646254.342,1684465023.172, 1683734520.334, 1673286455.037, 1675679088.811]

final_liste = []
final_liste
for ts in timestamp:
    result = dt.datetime.fromtimestamp(int(ts)).date()
    print(result)
    final_liste.append(result)

2023-02-06
2023-05-19
2023-05-10
2023-01-09
2023-02-06

In [142]:
final_liste

[datetime.date(2023, 2, 6),
 datetime.date(2023, 5, 19),
 datetime.date(2023, 5, 10),
 datetime.date(2023, 1, 9),
 datetime.date(2023, 2, 6)]

In [143]:
df['Datumsangaben'] = final_liste

In [144]:
df

,Type,Mag,Place,Time,Long,Lat,Datumsangaben
0,earthquake,7.8,"Pazarcik earthquake, Kahramanmaras earthquake ...",1675646254342,37.0143,37.2256,2023-02-06
1,earthquake,7.7,southeast of the Loyalty Islands,1684465023172,170.7423,-23.2063,2023-05-19
2,earthquake,7.6,"82 km WNW of Hihifo, Tonga",1683734520334,-174.4925,-15.6278,2023-05-10
3,earthquake,7.6,"Pulau Pulau Tanimbar, Indonesia",1673286455037,130.0090,-7.0586,2023-01-09
4,earthquake,7.5,"Elbistan earthquake, Kahramanmaras earthquake ...",1675679088811,37.1962,38.0106,2023-02-06

# ChatGPT und Fehler

In [145]:
import requests
import pandas as pd
import datetime

In [147]:
url = 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&'
orderby = '&orderby=magnitude'
limit = '&limit=5'
urlzeit = '&starttime=2022-12-31T22:00:00&endtime=2023-12-31T22:00:00'
r = requests.get(url+orderby+limit+ urlzeit)
r = r.json()['features']
#minmax = "&minmagnitude=6.5"

In [ ]:
erdbeben = []
for elem in r.json()["features"]:
    m = elem["properties"]["mag"]
    t = elem["properties"]["time"]
    p = elem["properties"]["place"]
    mini_dict = {"Time": t,
                 "Mag": m,
                 "Place": p}
    erdbeben.append(mini_dict)