# Libraries und arbeiten mit APIs

**0. Importiere zuerst die nötigen Libraries, um mit der [Erdbeben API](https://earthquake.usgs.gov/fdsnws/event/1/) arbeiten zu können.**

In [1]:
import requests
import pandas as pd

**1. Wie viele Erdbeben wurden im Januar 2023 verzeichnet?**

In [7]:
url="https://earthquake.usgs.gov/fdsnws/event/1/"
how="count"
Start="starttime=2023-01-01"
endtime="endtime=2023-01-31"
url_final = url+how+"?"+Start+"&"+endtime
response = requests.get(url_final)

In [8]:
response.json()

11213

In [9]:
response.text

'11213'

#### 2. Und wie viele Erdbeben im Juli 2023? 
Du kannst das mit Einzelabfragen lösen. Aber auch mit einem Code, der dann auf Knopfdruck das Resultat liefert.

In [10]:
url="https://earthquake.usgs.gov/fdsnws/event/1/"
how="count"
Start="starttime=2023-07-01"
endtime="endtime=2023-07-31"
url_final = url+how+"?"+Start+"&"+endtime
response = requests.get(url_final)

In [11]:
response.json()

12381

#### 3. In welchem Monat des aktuellen Jahres wurden am meisten Erdbeben verzeichnet?
Nicht vergessen. Hier musst Du die Anfrageweise ändern. Du kannst das komplett selber programmieren. Oder aber mit dem Code-Book der API arbeiten. Diese also nicht vergessen. Hint: Arbeite dafür mit einem For-Loop.

In [32]:
month =0
year =2023

for month in range(1,10):
    url= 'https://earthquake.usgs.gov/fdsnws/event/1/'
    count = "count"
    start = f"starttime=2023-{month}-1"
    endtime = f"endtime=2023-{month}-31"
    url_final = url + count + "?" + start + "&" + endtime
    #print(url_final)
    response = requests.get(url_final)
    response.json()
    print(response.json())

11213
12422
13730
13093
12170
12317
12381
11712
2041

In [41]:
import requests
import pandas as pd

start_year = 2023
start_day = "01"
end_year = 2023
end_day = "31"
url = "https://earthquake.usgs.gov/fdsnws/event/1/"
how = "count"

list_earthquake_count_per_month = []

months = ["01","02","03","04","05","06","07","08","09","10","11","12"]

for month in months:
    
    start = "starttime=" + str(start_year) + "-" + month + "-" + start_day
    end = "endtime=" + str(end_year) + "-" + month + "-" + end_day
    url_abfrage_final = url + how + "?" + start + "&" + end
    response_count_flexibel = requests.get(url_abfrage_final)
    

    mini_dict_per_month = {"Month": month,
                           "Anzahl Erbeben": response_count_flexibel.json()}
    
    
    list_earthquake_count_per_month.append(mini_dict_per_month)

pd.DataFrame(list_earthquake_count_per_month)

   Month  Anzahl Erbeben
0     01           11213
1     02           12422
2     03           13730
3     04           13093
4     05           12170
5     06           12318
6     07           12381
7     08           11712
8     09            2048
9     10               0
10    11               0
11    12               0

In [40]:
pd.DataFrame(list_earthquake_count_per_month)

   Month  Anzahl Erbeben
0     01           11213
1     02           12422
2     03           13730
3     04           13093
4     05           12170
5     06           12318
6     07           12381
7     08           11712
8     09            2048
9     10               0
10    11               0
11    12               0

In [ ]:
start = "starttime= year-month-day"

In [21]:
endtime

'endtime= year-month+1-day'

In [16]:
for month in range(1,10):
    print(month)

1
2
3
4
5
6
7
8
9

In [19]:
endtime

'endtime=2023-07-31'

**4. Suche die 5 stärksten Erdbeben im 2022. Liste auf, wie stark sie waren und wo sich die Erdbeben ereigneten. Zeige die Erdbeben in einem Mapping-Werkzeug (Q, DataWrapper, Flourish, Google Maps, etc.)**