# Libraries und arbeiten mit APIs

#### 0. Importiere die Library requests.

In [9]:
import requests
import pandas as pd
import datetime

**1. Wie viele Erdbeben wurden im Januar 2023 verzeichnet?**

In [10]:
r = requests.get('https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-01-01&endtime=2023-01-31')

In [11]:
r.json()

11213

#### 2. Und wie viele Erdbeben im Juli 2023?

In [12]:
r = requests.get('https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-07-01&endtime=2023-07-31')

In [13]:
r.json()

12375

#### 3. In welchem Monat des aktuellen Jahres wurden am meisten Erdbeben verzeichnet?

In [16]:
dates_start= pd.date_range('2023-01-01','2023-10-01' , freq='1M')-pd.offsets.MonthBegin(1)

In [17]:
dates_start

DatetimeIndex(['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01',
               '2023-09-01'],
              dtype='datetime64[ns]', freq=None)

In [34]:
dates_end= pd.date_range('2023-2-01','2023-11-01' , freq='1M')-pd.offsets.MonthEnd(1)

In [35]:
dates_end

DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-30'],
              dtype='datetime64[ns]', freq=None)

In [36]:
base = 'https://earthquake.usgs.gov/fdsnws/event/1/count?'
start = 'starttime='
end = '&endtime='

In [37]:
str(s)[:10]

'2023-09-01'

In [38]:
liste = []
for s, e in zip(dates_start, dates_end):
    s = str(s)[:10]
    e = str(e)[:10]
    print(base+start+s+end+e)
    r = requests.get(base+start+s+end+e)
    result = r.text
    
    mini_dict = {s:result}
    liste.append(mini_dict)

https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-01-01&endtime=2023-01-31
https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-02-01&endtime=2023-02-28
https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-03-01&endtime=2023-03-31
https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-04-01&endtime=2023-04-30
https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-05-01&endtime=2023-05-31
https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-06-01&endtime=2023-06-30
https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-07-01&endtime=2023-07-31
https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-08-01&endtime=2023-08-31
https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2023-09-01&endtime=2023-09-30

In [39]:
pd.DataFrame(liste).melt().dropna()

      variable  value
0   2023-01-01  11213
10  2023-02-01  11087
20  2023-03-01  13730
30  2023-04-01  12623
40  2023-05-01  12170
50  2023-06-01  11869
60  2023-07-01  12375
70  2023-08-01  11404
80  2023-09-01   1394

**4. Suche die 5 stärksten Erdbeben im 2022. List auf, wie stark sie waren und wo sich die Erdbeben ereigneten. Zeige die Erdbeben in einem Mapping-Werkzeuz (Q, DataWrapper, Flourish, Google Maps, etc.)**

In [46]:
url = 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&'
orderby = '&orderby=magnitude'
limit = '&limit=5'
urlzeit = '&starttime=2022-12-31T22:00:00&endtime=2023-12-31T22:00:00'
#r.json()['features']
#minmax = "&minmagnitude=6.5"

In [47]:
r = requests.get(url+orderby+limit+ urlzeit)

In [48]:
len(r.json()['features'])

5

In [63]:
earthquakes = []
for elem in r.json()['features']:
    
    t = elem['properties']['type']
    m = elem['properties']['mag']
    p = elem['properties']['place']
    tm = elem['properties']['time']
    long = elem['geometry']['coordinates'][0]
    lat = elem['geometry']['coordinates'][1]
    
    mini_dict = {'Type': t,
                 'Mag': m,
                 'Place': p,
                 'Time': tm,
                  'Long':long,
                  'Lat':lat}
    
    earthquakes.append(mini_dict)

In [64]:
pd.DataFrame(earthquakes)

,Type,Mag,Place,Time,Long,Lat
0,earthquake,7.8,"Pazarcik earthquake, Kahramanmaras earthquake ...",1675646254342,37.0143,37.2256
1,earthquake,7.7,southeast of the Loyalty Islands,1684465023172,170.7423,-23.2063
2,earthquake,7.6,"82 km WNW of Hihifo, Tonga",1683734520334,-174.4925,-15.6278
3,earthquake,7.6,"Pulau Pulau Tanimbar, Indonesia",1673286455037,130.0090,-7.0586
4,earthquake,7.5,"Elbistan earthquake, Kahramanmaras earthquake ...",1675679088811,37.1962,38.0106