# Homework: Regex

**Inhalt:** Regular Expressions in Pandas anwenden

**Nötige Skills:** Regex in Python, Regex in Pandas

**Lernziele:**
- Ein praktisches Beispiel kennenlernen, wo Regex nützlich sein kann

# Das Beispiel

Eine Liste von US-Senatoren, die uns in einer etwas mühsamen Form zugestellt wurde.

Ziel ist, aus einem Wust von Zeichen eine saubere Tabelle zu generieren.

Die Liste ist gespeichert unter `dataprojects/Senatoren/Senator-List.xlsx`

## Vorbereitung

Nötige Libraries importieren: Pandas, re

In [1]:
import pandas as pd

In [2]:
import re

## Datei laden

Tipp: `header=None`

In [3]:
df = pd.read_excel('dataprojects/Senatoren/Senator-List.xlsx', header=None)

Check, was steht drin?

In [4]:
df.head(10)

                                                   0
0  Alexander, Lamar - (R - TN) Class II 455 Dirks...
1  Baldwin, Tammy - (D - WI) Class I 709 Hart Sen...
2  Barrasso, John - (R - WY) Class I 307 Dirksen ...
3  Bennet, Michael F. - (D - CO) Class III 261 Ru...
4  Blumenthal, Richard - (D - CT) Class III 706 H...
5  Blunt, Roy - (R - MO) Class III 260 Russell Se...
6  Booker, Cory A. - (D - NJ) Class II 359 Dirkse...
7  Boozman, John - (R - AR) Class III 141 Hart Se...
8  Brown, Sherrod - (D - OH) Class I 713 Hart Sen...
9  Burr, Richard - (R - NC) Class III 217 Russell...

Geben Sie der Spalte einen neuen Namen: "Eintrag"

In [5]:
df = df.rename(columns={0: 'Eintrag'})

In [6]:
df.head(2)

                                             Eintrag
0  Alexander, Lamar - (R - TN) Class II 455 Dirks...
1  Baldwin, Tammy - (D - WI) Class I 709 Hart Sen...

Zeigen Sie die ersten zwei Einträge in der Serie 'Eintrag' an

In [7]:
df['Eintrag'].head(2)

0    Alexander, Lamar - (R - TN) Class II 455 Dirks...
1    Baldwin, Tammy - (D - WI) Class I 709 Hart Sen...
Name: Eintrag, dtype: object

Welche Informationen sind in den Text-Strings enthalten? (Hinweis: Es sollten acht sein)

In [8]:
# Antwort, in Worten:
# Name
# ...
#

## Regex-Ausdrücke entwickeln

Hier ist ein Regex-Ausdruck, der den Namen der Senatoren aus der Spalte "Eintrag" fischt:

In [9]:
# Name:
df['Eintrag'].str.extract(r"^(.+),").head(5)

            0
0   Alexander
1     Baldwin
2    Barrasso
3      Bennet
4  Blumenthal

Entwickeln Sie weitere Regex-Ausdrücke für alle anderen Informationen, die in der Spalte enthalten sind!

In [10]:
# Vorname:
df['Eintrag'].str.extract(r", (.+) - \(").head(5)

            0
0       Lamar
1       Tammy
2        John
3  Michael F.
4     Richard

In [11]:
# Partei:
df['Eintrag'].str.extract(r"\((\w)").head(5)

   0
0  R
1  D
2  R
3  D
4  D

In [12]:
# Bundesstaat:
df['Eintrag'].str.extract(r"(\w{2})\)").head(5)

    0
0  TN
1  WI
2  WY
3  CO
4  CT

In [13]:
# Klasse:
df['Eintrag'].str.extract(r"Class (I+)").head(5)

     0
0   II
1    I
2    I
3  III
4  III

In [14]:
# Adresse:
df['Eintrag'].str.extract(r"Class I+ (.+) \d{5}").head(5)

                                                  0
0  455 Dirksen Senate Office Building Washington DC
1     709 Hart Senate Office Building Washington DC
2  307 Dirksen Senate Office Building Washington DC
3  261 Russell Senate Office Building Washington DC
4     706 Hart Senate Office Building Washington DC

In [15]:
# Telefonnr:
df['Eintrag'].str.extract(r"(\d{5}\(\d{3}\) \d{3}-\d{4})").head(5)

                     0
0  20510(202) 224-4944
1  20510(202) 224-5653
2  20510(202) 224-6441
3  20510(202) 224-5852
4  20510(202) 224-2823

In [16]:
# Webseite:
df['Eintrag'].str.extract(r"Contact: (.+)").head(5)

                                                   0
0  www.alexander.senate.gov/public/index.cfm?p=Email
1                    www.baldwin.senate.gov/feedback
2  www.barrasso.senate.gov/public/index.cfm/conta...
3                   www.bennet.senate.gov/?p=contact
4                 www.blumenthal.senate.gov/contact/

## Neue Spalten bilden

Speichern Sie jede Information, für die Sie eine Regex entwickelt haben, in einer neuen Spalte ab.

In [17]:
df['Name'] = df['Eintrag'].str.extract(r"^(.+),")
df['Vorname'] = df['Eintrag'].str.extract(r", (.+) - \(")
df['Partei'] = df['Eintrag'].str.extract(r"\((\w)")
df['Bundesstaat'] = df['Eintrag'].str.extract(r"(\w{2})\)")
df['Klasse'] = df['Eintrag'].str.extract(r"Class (I+)")
df['Adresse'] = df['Eintrag'].str.extract(r"Class I+ (.+) \d{5}")
df['Telefonnr'] = df['Eintrag'].str.extract(r"(\d{5}\(\d{3}\) \d{3}-\d{4})")
df['Webseite'] = df['Eintrag'].str.extract(r"Contact: (.+)")

Check, wie sieht es aus?

In [18]:
df

,Eintrag,Name,Vorname,Partei,Bundesstaat,Klasse,Adresse,Telefonnr,Webseite
0,"Alexander, Lamar - (R - TN) Class II 455 Dirks...",Alexander,Lamar,R,TN,II,455 Dirksen Senate Office Building Washington DC,20510(202) 224-4944,www.alexander.senate.gov/public/index.cfm?p=Email
1,"Baldwin, Tammy - (D - WI) Class I 709 Hart Sen...",Baldwin,Tammy,D,WI,I,709 Hart Senate Office Building Washington DC,20510(202) 224-5653,www.baldwin.senate.gov/feedback
2,"Barrasso, John - (R - WY) Class I 307 Dirksen ...",Barrasso,John,R,WY,I,307 Dirksen Senate Office Building Washington DC,20510(202) 224-6441,www.barrasso.senate.gov/public/index.cfm/conta...
3,"Bennet, Michael F. - (D - CO) Class III 261 Ru...",Bennet,Michael F.,D,CO,III,261 Russell Senate Office Building Washington DC,20510(202) 224-5852,www.bennet.senate.gov/?p=contact
4,"Blumenthal, Richard - (D - CT) Class III 706 H...",Blumenthal,Richard,D,CT,III,706 Hart Senate Office Building Washington DC,20510(202) 224-2823,www.blumenthal.senate.gov/contact/
...,...,...,...,...,...,...,...,...,...
95,"Warren, Elizabeth - (D - MA) Class I 317 Hart ...",Warren,Elizabeth,D,MA,I,317 Hart Senate Office Building Washington DC,20510(202) 224-4543,www.warren.senate.gov/?p=email_senator
96,"Whitehouse, Sheldon - (D - RI) Class I 530 Har...",Whitehouse,Sheldon,D,RI,I,530 Hart Senate Office Building Washington DC,20510(202) 224-2921,www.whitehouse.senate.gov/contact/email-sheldon
97,"Wicker, Roger F. - (R - MS) Class I 555 Dirkse...",Wicker,Roger F.,R,MS,I,555 Dirksen Senate Office Building Washington DC,20510(202) 224-6253,www.wicker.senate.gov/public/index.cfm/contact
98,"Wyden, Ron - (D - OR) Class III 221 Dirksen Se...",Wyden,Ron,D,OR,III,221 Dirksen Senate Office Building Washington DC,20510(202) 224-5244,www.wyden.senate.gov/contact/
99,"Young, Todd - (R - IN) Class III 400 Russell S...",Young,Todd,R,IN,III,400 Russell Senate Office Building Washington DC,20510(202) 224-5623,www.young.senate.gov/content/contact-senator

## Bonus: Alle Spalten auf einmal bilden

Laden Sie die Datei nochmals neu, so dass Sie nur eine Spalte namens "Eintrag" haben

In [19]:
df = pd.read_excel('dataprojects/Senatoren/Senator-List.xlsx', header=None)
df = df.rename(columns={0: 'Eintrag'})

Wir können mit mehreren Klammern auch mehrere Informationen aufs Mal extrahieren:

In [20]:
# Name, Vorname
df['Eintrag'].str.extract(r"^(.+), (.+) - \(").head(5)

            0           1
0   Alexander       Lamar
1     Baldwin       Tammy
2    Barrasso        John
3      Bennet  Michael F.
4  Blumenthal     Richard

Bilden Sie eine Regex, die sämtliche acht Informationen aufs Mal extrahiert und diese in acht neuen Spalten speichert!

In [21]:
spalten = ['Name', 'Vorname', 'Partei', 'Bundesstaat', 'Klasse', 'Adresse', 'Telefonnr', 'Webseite']

In [22]:
df[spalten] = df['Eintrag'].str.extract(r"(\w+), ([^-]+) - [(](\w) - (\w\w)[)] Class (I+) (.*\d{5})([^C]+)Contact: (.*)$")

Check, wie sieht es aus?

In [23]:
df

,Eintrag,Name,Vorname,Partei,Bundesstaat,Klasse,Adresse,Telefonnr,Webseite
0,"Alexander, Lamar - (R - TN) Class II 455 Dirks...",Alexander,Lamar,R,TN,II,455 Dirksen Senate Office Building Washington ...,(202) 224-4944,www.alexander.senate.gov/public/index.cfm?p=Email
1,"Baldwin, Tammy - (D - WI) Class I 709 Hart Sen...",Baldwin,Tammy,D,WI,I,709 Hart Senate Office Building Washington DC ...,(202) 224-5653,www.baldwin.senate.gov/feedback
2,"Barrasso, John - (R - WY) Class I 307 Dirksen ...",Barrasso,John,R,WY,I,307 Dirksen Senate Office Building Washington ...,(202) 224-6441,www.barrasso.senate.gov/public/index.cfm/conta...
3,"Bennet, Michael F. - (D - CO) Class III 261 Ru...",Bennet,Michael F.,D,CO,III,261 Russell Senate Office Building Washington ...,(202) 224-5852,www.bennet.senate.gov/?p=contact
4,"Blumenthal, Richard - (D - CT) Class III 706 H...",Blumenthal,Richard,D,CT,III,706 Hart Senate Office Building Washington DC ...,(202) 224-2823,www.blumenthal.senate.gov/contact/
...,...,...,...,...,...,...,...,...,...
95,"Warren, Elizabeth - (D - MA) Class I 317 Hart ...",Warren,Elizabeth,D,MA,I,317 Hart Senate Office Building Washington DC ...,(202) 224-4543,www.warren.senate.gov/?p=email_senator
96,"Whitehouse, Sheldon - (D - RI) Class I 530 Har...",Whitehouse,Sheldon,D,RI,I,530 Hart Senate Office Building Washington DC ...,(202) 224-2921,www.whitehouse.senate.gov/contact/email-sheldon
97,"Wicker, Roger F. - (R - MS) Class I 555 Dirkse...",Wicker,Roger F.,R,MS,I,555 Dirksen Senate Office Building Washington ...,(202) 224-6253,www.wicker.senate.gov/public/index.cfm/contact
98,"Wyden, Ron - (D - OR) Class III 221 Dirksen Se...",Wyden,Ron,D,OR,III,221 Dirksen Senate Office Building Washington ...,(202) 224-5244,www.wyden.senate.gov/contact/
99,"Young, Todd - (R - IN) Class III 400 Russell S...",Young,Todd,R,IN,III,400 Russell Senate Office Building Washington ...,(202) 224-5623,www.young.senate.gov/content/contact-senator